@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
    --color-*: initial;

    --color-green: #5dc05b;
    --color-limegreen: #00b969;
    --color-red: #d52b1e;
    --color-yellow: #ffb100;
    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray-100: #F4F4F5;
    --color-gray-200: #7e8392;
    --color-gray-700: #323232;
    --color-gray-900: #09090B;

    --font-sans: var(--font-poppins);
}

@layer base {
    body {
        @apply bg-white text-gray-700;
    }

    html {
        @apply h-full
    }
}